body{
    
}
header{
    background: url(../img/Bg.png) no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    height: 500px;
}
header nav img{
    margin: 30px 0 20px 150px;
    height: 100px;
    width: 150px;
    transition: transform 0.7s;
}
header nav img:hover{
    transform: scale(1.05);
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.336);
    transition: background-color 0.7s;
}
nav:hover{
    background-color: rgba(0, 0, 0, 0.753);
}
header nav ul{
    list-style: none;
    float: right;
    margin-top: 70px;
    margin-right: 130px;
    
}
header nav ul li{
    width: 120px;
    height: 30px;
    text-align: center;
    margin-left: 50px;
    float: left;
    transition: border-bottom, transform 0.3s;
}
header nav ul li:hover{
    border-bottom: 2px white solid;
    transform: scale(1.1);
}
header nav ul li a{
    color: white;
    text-decoration: none;
    
}
header h1{
    display: inline-block;
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: -45px;
    margin-left: 54%;
    padding-top: 250px;
    transition: transform 1s;
}
header h1:hover{
    transform: scale(1.2);
}
#devenir{
    width: 750px;
    height: 750px;
    top: -354px;
    position: relative;
}
.d1{
    width: 668px;
    height: 432px;
    margin: 50px auto;
    position: relative;
    top: -1005px;
    left: 378px;
    background-color: #eceaea;
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;
}


.d1:hover{
    animation-play-state: paused;
}
@keyframes fondu{   0%{background-image: url("https://static.wixstatic.com/media/06ad19_e0758c37c2674354b1608ec8ea62e57d~mv2_d_3000_2000_s_2.jpg/v1/fill/w_1600,h_1066,al_c,q_90/file.jpg") ; background-repeat: no-repeat; }

    33.33%{background-image: url("http://www.leparisien.fr/resizer/TbZNooMvfy_v2MI0OqxPdGQLI48=/932x582/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/QOFRAN75EHD3OB4Z42GPRFRMGY.jpg"); background-repeat: no-repeat;}

    66.67%{background-image: url("https://www.moebelfertigung.com/system/uploads/image/image/818/news_huge_image.jpg");background-repeat: no-repeat;}
    100%{background-image: url("https://cdn-s-www.bienpublic.com/images/68256C9E-053D-40A4-B43C-1B96A4497D15/NW_raw/a-l-atelier-des-charpentiers-les-compagnons-du-devoir-de-la-maison-de-troyes-sont-alles-recuperer-des-souches-et-les-ont-rendues-carrees-afin-de-realiser-un-assemblage-l-occasion-d-expliquer-les-bases-du-metier-photo-lbp-dominique-ragot-1558883291.jpg"); background-repeat: no-repeat;}
}
h1 a {
    color: grey;
    cursor: pointer;
    text-decoration: none;
}
