/* IMPORT */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* BODY */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 5em;
}

.button {
  padding: 10px 20px 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  box-shadow: 10px 10px 10px white;
}

.navbar {
  background-color: rgba(0,0,0 , 0.8);
  padding: 1em;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  transition: transform .5s ease;
  z-index: 999;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 20px;
}

.navbar:hover {
  bottom: 0px;
  transform: scale(1.5) translateY(-0.5em);
  background-color: black;
}

.header-1 {
  padding: 5em;
  text-align: center;
  background: url("https://cdn.glitch.com/a432f047-8ce8-41c0-969c-2aa62a374173%2FIMG_4259.jpg?v=1575400763251") rgba(99, 110, 114, 1) no-repeat center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  font-size: 30px;
}

.header-2 {
  padding: 5em;
  text-align: center;
  background: url("https://cdn.glitch.com/a432f047-8ce8-41c0-969c-2aa62a374173%2FIMG_4236.jpg?v=1575400763205") rgba(99, 110, 114, 1) no-repeat center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  font-size: 30px;
}

.header-3 {
  padding: 5em;
  text-align: center;
  background: url("https://img-4.linternaute.com/_zQ0ocBRgewzcF8-ig0uhIK4H3k=/620x/smart/3309ebf90b654297b5a5955b6b9afdd7/ccmcms-linternaute/10083916-musee-librairie-du-compagnonnage.jpg") rgba(99, 110, 114, 1) no-repeat center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  font-size: 30px;
}

.header-4 {
  padding: 5em;
  text-align: center;
  background: url("https://cdn.glitch.com/a432f047-8ce8-41c0-969c-2aa62a374173%2FIMG_4258.jpg?v=1575400760996") rgba(99, 110, 114, 1) no-repeat center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  font-size: 30px;
}

.text-title {
  background-color: #b2bec3;
  color: black;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
  margin-bottom: 1em;
}

.text-text {
  font-size: 20px;
  margin: 3em 5em 6em 5em;
}

.text {
  margin: 3em;
}

table {
  margin: auto;
  border-spacing: 30px;
}

.maps {
  transition: transform .5s ease;
}

.maps:hover {
  transform: scale(1.5) 
}

/* ADDONS */
.CenterText {
 text-align: center; 
}

.Title {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.text-img {
  float: right;
}

.text-img p {
  text-align: right;
}

.home-body {
  padding-top: 1em;
  text-align: center;
  background: url("../img/maquettes_1.jpg") rgba(99, 110, 114, 1) no-repeat center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-title {
  position: absolute;
  top: 2em;
  right: 10%;
  left: 10%;
}

.home-table {
  margin-top: 10em;
}

.class_test {
  text-align: center;
  display: inline-block;
  position: relative;
}

  .class_test:hover p.text {
      opacity: 1;
  }

  .class_test p.text {
    color: #FFF;
    width: 200px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    top: 0;
    opacity: 0;
    display: block;
    position: absolute;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
}